DATABASE_URL=postgresql://...

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret

REFRESH_TOKEN_TTL=4320h
REFRESH_TOKEN_COOKIE_SECURE=false

ACCESS_TOKEN_TTL=15m
JWT_ISSUER=ribble
JWT_SECRET=jwt_secret

FRONTEND_URL=http://localhost:3000

ENV=development
